@media screen and (max-width: 1024px){
input[type='range']::-webkit-slider-thumb {
margin-top:-1.5%;
}

}
@media screen and (max-width: 767px){
input[type='range']::-webkit-slider-thumb {
margin-top:-2.3%;
}
.header {
    width: 85%;
}
.logo{
    width: 40%;
}
.logo img{
    max-width: 100%;
    width: 35%;
}
.question {
   font-size: 22px;
}
#content {
    padding: 0 45px 30px 45px;
}
input[type='range'] {
    width: 85%;
}
#demo {
    left: 85%;
    width: 10%;
}
}
@media screen and (max-width: 560px){
.logo img {
    max-width: 100%;
    width: 50%;
}
#content {
    padding: 0px 15px 30px 15px;
    width: 80%;
}
}
@media screen and (max-width: 420px)
{
.logo img {
    max-width: 100%;
    width: 60%;
}
.question {
    font-size: 20px;
}
#wrapper{
    padding-top: 20px !important;
}
#demo {
    font-size: 40px;
    }
}
@media screen and (max-width: 360px)
{
input[type='range']::-webkit-slider-thumb {
margin-top:-2.9%;
}
}